<main class="form-login text-center">
    <form>
        <p class="h3 mb-3 fw-normal">Please login</p>
        <div style="position: relative;">
            <mat-form-field class="field-max-width">
                <mat-label>Email Address</mat-label>
                <input matInput type="email" placeholder="name@example.com">
            </mat-form-field>
            <mat-form-field class="field-max-width">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password">
            </mat-form-field>

            <button mat-flat-button class="form-control">Login</button>
            <button mat-flat-button class="form-control mt-3">Register</button>
        </div>
    </form>
</main>