<mat-dialog-content>
@if(hasDevices) {
  <label for="deviceSelect">Choose Camera:</label>
  <select id="deviceSelect" (change)="onDeviceChange($event)">
    @for(device of availableDevices; track device.deviceId) {
      <option [value]="device.deviceId">{{device.label || 'Unknown Camera'}}</option>
    }
  </select>
}
  <zxing-scanner
    [formats]="barcodes"
    [autostart]="true"
    [device]="selectedDevice"
    (scanSuccess)="onCodeResult($event)"
    (scanFailure)="onError($event)"
    (camerasFound)="onDevicesFound($event)"
    (camerasNotFound)="onHasDevices(false)"
  >
  </zxing-scanner>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onClose()">Close</button>
</mat-dialog-actions>
