<div class="row">
    <div class="col-md-2 mt-2">
        <button mat-fab matTooltip="Add Books" matTooltipPosition="right" color="primary" [matMenuTriggerFor]="menu">
            <mat-icon>add</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="bookAddForm()">Manually</button>
            <button mat-menu-item (click)="bookAddIsbnForm()">By ISBN</button>
        </mat-menu>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-2">
        <p class="h3">Books</p>
    </div>
</div>
<div class="row">
    <app-book-table></app-book-table>
</div>
