<div class="row justify-content-center">
    <div class="col-md-8">
        <mat-card appearance="outlined">
            <mat-card-header>
                <p class="h3">Add a new Book</p>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="form">
                    <div class="row">
                        <div class="col-md-8">
                            <mat-form-field class="mat-input-field">
                                <mat-label>Title</mat-label>
                                <input matInput type="text" [formControl]="titleControl" placeholder="title">
                            </mat-form-field>
                            <mat-error *ngIf="isControlInvalid(titleControl)">Title is required</mat-error>
                            <mat-error *ngIf="isControlInvalid(titleControl, 'maxlength')">Title cannot be greater than
                                300 characters</mat-error>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <mat-form-field class="mat-input-field">
                                <mat-label>Author</mat-label>
                                <input matInput type="text" [formControl]="authorControl" placeholder="author">
                            </mat-form-field>
                            <mat-error *ngIf="isControlInvalid(authorControl)">Author is required</mat-error>
                            <mat-error *ngIf="isControlInvalid(authorControl, 'maxlength')">Author cannot be greater
                                than 300 characters</mat-error>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <mat-form-field class="mat-input-field">
                                <mat-label>Subject</mat-label>
                                <input matInput type="text" [formControl]="subjectControl" placeholder="subject">
                            </mat-form-field>
                            <mat-error *ngIf="isControlInvalid(subjectControl)">Subject is required</mat-error>
                            <mat-error *ngIf="isControlInvalid(subjectControl, 'maxlength')">Subject cannot be greater
                                than 100 characters</mat-error>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="mat-input-field">
                                <mat-label>Format</mat-label>
                                <input matInput type="text" [formControl]="formatControl" placeholder="format">
                            </mat-form-field>
                            <mat-error *ngIf="isControlInvalid(formatControl)">Format is required</mat-error>
                            <mat-error *ngIf="isControlInvalid(formatControl, 'maxlength')">Format cannot be greater
                                than 100 characters</mat-error>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field class="mat-input-field">
                                <mat-label>ISBN 13</mat-label>
                                <input matInput type="text" [formControl]="isbn13Control" placeholder="isbn13">
                            </mat-form-field>
                            <mat-error *ngIf="isControlInvalid(isbn13Control,'minlength')">ISBN 13 cannot be less than
                                13 characters</mat-error>
                            <mat-error *ngIf="isControlInvalid(isbn13Control,'pattern')">ISBN 13 must only contain
                                numbers</mat-error>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field class="mat-input-field">
                                <mat-label>ISBN 10</mat-label>
                                <input matInput type="text" [formControl]="isbn10Control" placeholder="isbn10">
                            </mat-form-field>
                            <mat-error *ngIf="isControlInvalid(isbn10Control,'minlength')">ISBN 10 cannot be less than
                                13 characters</mat-error>
                            <mat-error *ngIf="isControlInvalid(isbn10Control,'pattern')">ISBN 10 must only contain
                                numbers</mat-error>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field class="mat-input-field">
                                <mat-label>Number of Pages</mat-label>
                                <input matInput type="number" [formControl]="pagesControl">
                            </mat-form-field>
                            <mat-error *ngIf="isControlInvalid(pagesControl)">Number of Pages is required</mat-error>
                            <mat-error *ngIf="isControlInvalid(pagesControl, 'min')">Number of Pages must be greater
                                than 0</mat-error>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field class="mat-input-field">
                                <mat-label>Publish Date</mat-label>
                                <input matInput [matDatepicker]="picker" [formControl]="publishControl">
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <mat-error *ngIf="isControlInvalid(publishControl)">Publish Date is required</mat-error>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="mat-input-field">
                                <mat-label>Library</mat-label>
                                <mat-select [formControl]="libraryControl" (selectionChange)="librarySelected($event)">
                                    <mat-option *ngFor="let library of libraries | async"
                                        [value]="library.id">{{library.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-error *ngIf="isControlInvalid(libraryControl)">Library is required</mat-error>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="mat-input-field">
                                <mat-label>Bookshelf</mat-label>
                                <mat-select [formControl]="bookshelfControl"
                                    (selectionChange)="bookshelfSelected($event)">
                                    <mat-option *ngFor="let bookshelf of bookshelves | async"
                                        [value]="{id: bookshelf.id, rows: bookshelf.numberOfRows}">{{bookshelf.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-error *ngIf="isControlInvalid(bookshelfControl)">Bookshelf is required</mat-error>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <mat-form-field class="mat-input-field">
                                <mat-label>Row</mat-label>
                                <input matInput type="number" [formControl]="rowControl" min="1" [max]="bookshelfRows">
                            </mat-form-field>
                            <mat-error *ngIf="isControlInvalid(rowControl)">Row is required</mat-error>
                        </div>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button class="me-2" mat-flat-button (click)="submit()" [disabled]="form.invalid">Save</button>
                <button mat-flat-button (click)="reset()">Clear</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>