<div class="row justify-content-center">
    <div class="col-6">
        <p class="h3">Welcome to Bibliotheca!</p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-10">
        <p>
            Bibliotheca (Latin for Library) is an online library catalog system designed to keep track of personal book
            collections. It supports multiple libraries per user; and allows users to share their libraries with other
            users.
        </p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-10">
        <p>
            A library stores a collection of books that can be manually entered; however Bibliotheca also support the
            ability to automatically add books to a library by using the <a href="https://openlibrary.org">Open Library
                API</a>. You can manually enter an ISBN number, and the Bibliotheca system will call the API and create
            the necessary record in your library. Bibliotheca also support the use of a smartphone camera so that book
            barcards can be scanned in without the need for manual entry.
        </p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-10">
        <p>
            Bibliotheca also has a rich set of search features that allow you to search your libraries by many different
            means. You can also use it to keep track of books you have loaned to friends as a means of keeping track of
            your collection. It will also allow you to specify locations for your books, such as a bookshelf, or even a
            specific shelf on a specified bookshelf. <a routerLink="/register">Register</a> to get started!
        </p>
    </div>
</div>