<button mat-mini-fab class="mb-2" matTooltip="Back to Libraries" matTooltipPosition="right" (click)="back()"
    color="primary">
    <mat-icon>arrow_back</mat-icon>
</button>
<ng-template [ngIf]="loadError">
    <h2>Book not found</h2>
</ng-template>
<ng-template [ngIf]="!loadError">
    <div class="row">
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>Title: {{book.title}}</mat-card-title>
                <mat-card-subtitle>Author: {{book.author}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Subject: {{book.subject}}</p>
                <p>Format: {{book.format}}</p>
                <p>ISBN:
                    <span *ngIf="book.isbn10 !== ''">{{book.isbn10}}</span>
                    <span *ngIf="book.isbn13 !== ''">/</span>
                    <span *ngIf="book.isbn13 !== ''">{{book.isbn13}}</span>
                </p>
                <p>Number of Pages: {{book.numberOfPages}}</p>
                <p>Publish Date: {{book.publishDate | date}}</p>
                <p>Library: {{book.library.name}}</p>
                <p>Bookshelf: {{book.libraryBookshelf.name}} - Row {{book.row}}</p>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-icon-button matTooltip="Delete Book" (click)="delete()"><mat-icon>delete</mat-icon></button>
            </mat-card-actions>
        </mat-card>
    </div>
</ng-template>