<div class="d-flex flex-row justify-content-center">
    <div class="row justify-content-around align-items-top mt-5" style="width: 50%;height: 400px;">
        <div class="col-6" align="center">
            <div class="row justify-content-center">
                <button mat-icon-button>
                    <mat-icon class="mat-icon-scale">library_books</mat-icon>
                </button>
            </div>
            <div class="row justify-content-center mt-5"><p class="h5">Libraries</p></div>
        </div>
        <div class="col-6" align="center">
            <div class="row justify-content-center">
                <button mat-icon-button>
                    <mat-icon class="mat-icon-scale">book</mat-icon>
                </button>
            </div>
            <div class="row justify-content-center mt-5"><p class="h5">Books</p></div>
        </div>
    </div>
</div>