<mat-toolbar>
    <span>Bibliotheca</span>
    <span class="spacer"></span>
    <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        @if(!isAuthenticated) {
        <button mat-menu-item (click)="loginOrRegister()">Login / Register</button>
        }
        @if(isAuthenticated) {
        <button mat-menu-item (click)="libraries()">Libraries</button>
        <button mat-menu-item>Books</button>
        <button mat-menu-item (click)="logout()">Logout</button>
        }
    </mat-menu>
</mat-toolbar>